/* 

Template: eCommerce Bootstrap Landing Page
Author: Shuvo Mallick
Description: Responsive Landing Page
Version: 1.0.0
Keywords: eCommerce Website, Template, bootstrap template etc. 

*/

/* =========== INDEX - CSS FILES =========== */
/* ----- Utilities CSS ----- */
/* ----- Style CSS ----- */
/* =========== INDEX - CSS FILES =========== */

/* ===== Style File INDEX ===== */
/* 
  1. Header Section
  2. Hero/Banner Section
  3. Category Section
  4. Best Selling
  5. Summer Sale
  6. Featured Articles 
  7. Footer Section
  */
/* ===== Style File INDEX ===== */

/* ===== Import CSS Files ===== */
@import "./utilities.css";

/* ===== Header START ===== */
.header-area .custom-menu {
  margin-left: auto;
}
/* ===== Header END ===== */

/* ===== Hero/Banner START ===== */
.hero-area {
  background-image: url(../assets/images/banner-final.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-area .content {
  min-height: 600px;
  max-width: min-content;
}

.hero-area .content p {
  font-size: 16px;
}

.hero-area .content p span {
  background-color: var(--bs-white);
  color: var(--bs-primary);
  padding: 2px 6px;
  border-radius: 2px;
}

.hero-area .content h1 {
  font-size: 55px;
  letter-spacing: 1.5px;
}

.banner-content button {
  margin-top: 35px;
}
/* ===== Hero/Banner END ===== */

/* ===== Services START ===== */
.services {
  box-shadow: var(--shadow-large);
}

.services-area .service i {
  font-size: 28px;
}

.service-item-content h6 {
  font-size: 16px;
  font-weight: 600;
  color: var(--bs-gray-800);
}

.service-item-content p {
  font-size: 14px;
  color: var(--bs-gray-600);
}
/* ===== Services END ===== */

/* ===== Categories START ===== */
.categories-area .category {
  cursor: pointer;
}

.categories-area .category:hover {
  box-shadow: var(--shadow-default) !important;
  transition: all 300ms ease;
}

.categories-area .category button {
  margin-top: -65px;
}
/* ===== Categories END ===== */

/* ===== Best Selling Products START ===== */
.best-selling-area .single-product {
  cursor: pointer;
}

.best-selling-area .single-product:hover {
  box-shadow: var(--shadow-default) !important;
  transition: all 300ms ease;
}

.best-selling-area .discount {
  position: relative;
}

.best-selling-area .discount::before {
  content: "5% Off";
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 1;
  background-color: var(--bs-primary);
  font-size: 14px;
  color: #fff;
  padding: 3px 8px;
  line-height: 1;
}

.single-product:hover .product-btn-group {
  right: 10px;
}

.best-selling-area .product-btn-group {
  right: -50px;
  top: 10px;

  transition: right 0.3s;
}

.best-selling-area .product-btn {
  width: 40px;
  height: 40px;
  background-color: var(--bs-white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.best-selling-area .product-btn-group a {
  margin-bottom: 10px;
}

.product-btn-group a i {
  color: var(--bs-gray-600);
}

.best-selling-area .product-content {
  color: var(--bs-gray-600);
}

.best-selling-area .product-content > p {
  font-size: 11px;
  font-weight: 600;
}

.best-selling-area .product-content h4 {
  font-size: 16px;
  font-weight: 500;
}

.product-content h6 {
  font-size: 18px;
  font-weight: 600;
}

.product-reviews {
  gap: 10px;
  flex-wrap: wrap;
}

.product-reviews .rating i {
  font-size: 10px;
}

.product-reviews p {
  font-size: 12px;
  font-weight: 400;
}
/* ===== Best Selling Products END ===== */

/* ===== Summer Sale start ===== */
.summer-sale {
  background-image: url(../assets/images/parallax.jpg);
  color: var(--bs-white);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 400px;
  text-align: center;
}

.summer-sale .row {
  min-height: 400px;
}
.summer-sale h3 {
  font-size: 30px;
}

.summer-sale h3 span {
  color: var(--bs-primary);
  text-decoration: underline;
}

.summer-sale h2 {
  font-size: 50px;
  letter-spacing: 1.3px;
  line-height: 1.2;
  color: #fff;
}

.summer-sale button {
  margin-top: 30px;
}
/* =====  Summer sale end =====   */

/*  =====  Featured Articles start ===== */
.featured-articles .single-article:hover {
  box-shadow: var(--shadow-default) !important;
  transition: all 300ms ease;
}

.featured-articles .article-top-img {
  cursor: pointer;
}

.featured-articles .article-top-img img {
  width: 100%;
}

.article-date {
  width: 50px;
  height: 50px;
  top: 10px;
  left: 10px;
}

.single-article .card-body {
  color: var(--bs-gray-700) !important;
}

.single-article .card-title {
  font-size: 20px;
}

.single-article .card-text {
  font-size: 14px;
  font-weight: 400;
}
/* ===== Article End =====  */

/* ===== Footer start =====  */
footer {
  background-color: var(--bs-gray-900);
}

footer .img {
  width: 20px;
}

footer .social-icons a {
  color: var(--bs-gray-400);
}

footer .social-icons a:hover {
  color: var(--bs-primary);
  transform: scale(1) !important;
  transition: all 300ms ease-in-out;
}
/* ===== Footer end ===== */
